{{#partial "content"}}
<h2>Welcome to the Hero-Squad Application</h2>

<h3>Here you get to call on heroes and assign the squads in groups of four</h3>
<div id="homePage" class="row">

    <div class="col-md-8 col-xs-12">
{{!--         <img src="Hero.jpg" height="349"> --}}
    </div>
    <div class="col-md-4 col-xs-12">

        <h3>Lets get started by creating our first squad!</h3>
        <br>
        <h4><a href="/squads/new">Add a new Squad</a></h4>

    </div>
</div>
{{/partial}}

      {{> layout.hbs}}