{{#partial "styles"}}

{{/partial}}
{{#partial "content"}}
    <h1>Success!</h1>
    Your hero has been added.<br>


    <a href="/"><button class="btn btn-danger">Go back</button></a>

{{/partial}}
{{>layout.hbs}}