{{#partial "content"}}
<br><br><br><br><br><br><br>
<h1 class="text-center">Create your own Hero in Game</h1>
<a href="/heros/new" class="text-center"><button class="btn btn-success text-center ">Create your Hero</button></a>

<h1 class="text-center" >Make your own Squad</h1>
    <a href="squads/new" class="text-center"><button class="btn btn-success text-center " >Create your Squad</button></a>
{{/partial}}

 {{> layout.hbs}}