{{#partial "content"}}

<h1>Create your own Hero in Game</h1>
<a href="/heros/new"><button class=" btn btn-success">Create Hero</button></a>

<h1>Make your own Squad</h1>
    <a href="squads/new"><button class=" btn btn-success" ></button></a>
{{/partial}}

 {{> layout.hbs}}