
{{#block "header"}}

<!DOCTYPE html>
<html>
<head>
   <title>{{#block "title"}}Hero-Squad{{/block}}</title>
   <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
<ul class="nav nav-tabs">
   <li role="presentation" class="active"><a href="/">Home</a></li>
     <li role="presentation"><a href="/heros/new">Add a New Hero</a></li>
           <li role="presentation"><a href="/squads/list">Add a Squad</a></li>
</ul>

<div class="container">
   <!--begin main template-->
   <div class="page-header">
{{!--        <img src="/images/rawpixel-com-296621.jpg" width="70%" alt="https://unsplash.com/search/task?photo=Lh_bn9SgRSY"> --}}
       <h1>Welcome to Hero-Squad-App. </h1>
   </div>

   <div class="col-md-12">
       {{#block "content"}}
       {{/block}}

   </div>
</div>
<!--end main template-->
{{#block "footer"}}
   <footer class="footer">
       <div class="container">
           <hr>
           <p class="text-muted">
{{!--               <a href="/categories/delete">delete all categories & tasks</a><br> --}}
{{!--               <a href="/tasks/delete">delete all tasks</a> --}}
           </p>
       </div>
   </footer>
   </body>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
   </html>

  {{/block}}
  {{/block}}