
{{!--  It will display the list of Squads--}}
{{#partial "content"}}

</section class="wrapper">
<div class="view" style="background-image: url('https://images8.alphacoders.com/815/815404.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
<div class="jumbotron text-center">
  <h1 class="h1-reponsive text-info" ><strong>All Squads <i class="fas fa-id-card"></strong></i></h1>
  <a href="/squads/new" class="btn btn-outline-white ">Add New Squad  <i class="fas fa-user-plus animate rotateIn infinite"></i></a>
  <br>

  <div class="list-group text-white overflow-auto">
  {{#if squad}}
   {{#each squad}}

        <div class="d-flex w-75 justify-content-between overflow-auto">
            <h4 class="list-group-item-heading text-info"> Squad name:{{nameSquad}} <span </h4>
            <h4 class="list-group-item-heading text-info"> Squad Size:{{squad.sizeSquad}} <span </h4>
         <h4 class="list-group-item-heading text-info"> Squad Cause:{{causeSquad}}</span></h4>
        </div>

{{/each}}

{{else}}
        <p>No Squads  added Yet.</p>
    {{/if}}
  </div>

</section>

{{/partial}}

{{> layout.hbs}}